<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground.id%>?_method=patch" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Campground Name</label>
                <input class="form-control" type="text" name="campground[title]" id="title" placeholder="campground title" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>    
            </div> 
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" placeholder="location" value="<%= campground.location %>" required>
            </div>
            
            <!-- <input type="file" name="image" multiple> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" placeholder="Image Url" value="<%= campground.image %>" required>
            </div>  -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="price" name="campground[price]" value="<%= campground.price %>" required>
                  </div>
    
    
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" required><%= campground.description %></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach((img, i) => { %>
                  <% const thumbnailUrl = img.url.replace('/upload', '/upload/w_200'); %>
                  <img src="<%= thumbnailUrl %>" class="img-thumbnail" alt="">
                  <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                  </div>
                  <label for="image-<%= i %>">Delete Image</label>
                <% }) %>
              </div>              
              
            <button type="submit" class="btn btn-primary ">Update Campground</button>

            
        </form>
        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary mt-3">Back to Campground</a>

    </div>
</div>



