
<% layout("layouts/boilerplate") %>
<div id="map" style="width: 100%; height: 500px;"></div>

<div class="container mt-5">
  <div class="row">
    <% for (let campground of campgrounds) { %>
    <% campground.properties = { popUpMarkup: `<strong><a href="/campgrounds/${campground.id}">${campground.title}</a></strong><p>${campground.description.substring(0, 20)}...</p>` }; %>
    <div class="col-md-4">
      <div class="card mb-4">
        <% if (campground.images.length) { %>
        <img src="<%= campground.images[0].url %>" alt="" class="card-img-top" style="height: 300px; object-fit: cover;">
        <% } else { %>
        <img src="https://res.cloudinary.com/djphsccrb/image/upload/v1683174939/YelpCamp/wkcimjx8sagv71bbrlsn.jpg" alt="" class="card-img-top" style="height: 300px; object-fit: cover;">
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text"><small class="text-muted"><%= campground.location %></small></p>
          <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">View <%= campground.title %></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="text-center">
    <a href="/campgrounds/new" class="btn btn-primary mb-3 mt-3">Add New Campground</a>
  </div>
</div>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script src="/scripts/clusterMap.js"></script>

