<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location%></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <!-- <a class="card-link btn btn-success ml-1 mr-4" href="/campgrounds/<%=campground._id%>/review">Review</a> -->
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p class="text-center display-6">Add a Review</p>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>/review" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="review">Add review</label>
                <textarea class="form-control" type="text" id="review" name="review[body]" required></textarea>
            </div>
            <div class="mb-3 mr-5">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Submit</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

    </div>
</div>