<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location%></li>
                <li class="list-group-item">$<%= campground.price%>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <!-- <a class="card-link btn btn-success ml-1 mr-4" href="/campgrounds/<%=campground._id%>/review">Review</a> -->
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <!-- review add block -->
    <div class="col-3 offset-3">
        <p class="h4">Add a Review</p>
        <form action="/campgrounds/<%=campground._id%>/review" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="review">Add review</label>
                <textarea class="form-control" type="text" id="review" name="review[body]" required></textarea>
            </div>
            <div class="mb-3 mr-5">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>

</div>


<!-- reviews block -->
<div class="row">
    <div class="col-6 mb-3">
        <div class="card mb-5 mt-3">
        <h3 class="text-center">Reviews</h3>
        <% for( let i of campground.reviews) { %>
        <div class="card-body">
            <h2 class="card-title h3">User</h2>
            <p class="card-text">Review : <%= i.body %> </p>
            <p class="card-text">Rating : <%= i.rating %> </p>

            <form action="/campgrounds/<%=campground._id%>/reviews/<%=i._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete Review</button>
            </form>
            
        </div>
        <% } %>
    </div>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
    </div>
</div>

